$content_bg: #fff;
$header_bg: url(../img/m-h-day.jpg);

$header_fonts_hind: 'Hind', sans-serif;
$main_fonts_SSP: 'Source Sans Pro', sans-serif;
$card_fonts: 'Hind', sans-serif;

$header_text_color: #2c2f3c;

$marker_color: #14a0c7;
$header_btn_bgcolor: #699900;
$main_card_bgcolor: #21232e;
$main_card_text_color: #bbbbce;
$first_color_gradient: #65940e;
$second_color_gradient: #2e5cd2;