$content_bg: #21232e;
$header_bg: url(../img/m-h-night.jpg);

$header_fonts_hind: 'Hind', sans-serif;
$main_fonts_SSP: 'Source Sans Pro', sans-serif;
$card_fonts: 'Fresca', sans-serif;

$header_text_color: #ffffff;

$marker_color: #ff4e33;
$header_btn_bgcolor: #e3ac00;
$main_card_bgcolor: #3b3f50;
$main_card_text_color: #d1b697;
$first_color_gradient: #dfa604;
$second_color_gradient: #953050;

